.header__links {
  list-style: none;
  margin-top: 46px;
  display: flex;
}

 

  @media screen and (max-width: 768px) {
    .header__links {
      margin: 46px 24px 0 0;
    }
  }
  @media screen and (max-width: 425px) {
    .header__links {
      margin: 30px 16px 0 0;
    }
  }