.grid__item {
    margin: 16px 16px 0 0;
  }
  .grid__item:nth-child(4) {
    margin-right: 0;
  }
  .grid__item:nth-child(8) {
    margin-right: 0;
  }
  .grid__item:nth-child(12) {
    margin-right: 0;
  }
  @media screen and (max-width: 1024px) {
    .grid__item {
      margin: 14px 14px 0 0;
    }
    .grid__item:nth-child(4) {
      margin-right: 14px;
    }
    .grid__item:nth-child(8) {
      margin-right: 14px;
    }
    .grid__item:nth-child(12) {
      margin-right: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    .grid__item {
      margin: 16px 16px 0 0;
    }
  }
  @media screen and (max-width: 320px) {
    
  }