.lead__image_kalegin-michael {
  max-width: 984px;
  object-fit: cover;
  width: 100%;
  
  
}

   @media screen and (max-width: 1024px) {
    .lead__image_kalegin-michael {
      max-width: 928px;
      
      
    }  
  }  
  @media screen and (max-width: 768px) {
    .lead__image_kalegin-michael {
      
      width: 100%;
    } 

  }
  @media screen and (max-width: 425px) {
    .lead__image_kalegin-michael {
      
    }
  }