.place__link {
  color: #FFFFFF;
  font-size: 18px;
  transition-duration: .5s;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .place__link {
    display: none;
   }
}