.footer__copyright {
  margin-right: 48px;
  margin-top: 85px;
  margin-bottom: 24px;
}

 
  @media screen and (max-width: 320px) {
    .footer__copyright {
      margin-left: 16px;
      margin-top: 48px;
      margin-bottom: 24px;
    }
  }