.grid__item-photo {
  
  
  width: 284px;
  
}

   @media screen and (max-width: 1024px) {
    .grid__item-photo {
      width: 300px;
      
    }
  }
  @media screen and (max-width: 768px) {
    .grid__item-photo {
      width: 352px;
       }
  } 
  @media screen and (max-width: 425px) {
    .grid__item-photo {
    max-width: 393px;
    }
  }