@import url(./_header/section__narrow_header.css);
.section__narrow {
  max-width: calc(100% - 148px*2);
  margin: auto;
}

  @media screen and (max-width: 1024px) {
    .section__narrow {
      max-width: calc(100% - 48px*2);
    }
  }
  @media screen and (max-width: 768px) {
    .section__narrow {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 320px) {
    .section__narrow {
      max-width: 100%;
     
    }
  }